*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: 10px;
}

#google-form{
    background-color: #333;
    padding: 20px;
}

#google-form form {
    background-color: #fff;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

#google-form input{
    display: block;
    font-size: 18px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    
    width: 100%;
}

#google-form button{
    border: none;
    background-color: #eee;
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
    cursor: pointer;
}

/* REGISTER FORM */

.register-form form{
    max-width: 500px;
    margin:auto;
    border: solid 1px rgb(38, 38, 38);
    padding: 12px;
}

.register-form label{
    display:block;
    margin-bottom: 5px;
}

.input-inline{
    display: flex;
}
.input-inline input{
   
}

.input-inline label{
    display: block;
    padding: 10px;
    background-color: #000dff;
    color: #fff;
    margin: 5px;

}

.input-inline input:checked + label{
    background-color: red;
}